# Flutter/Dart/Pub related
*.dart_tool/
*.pub/
*.packages
.pub-cache/
build/
flutter_*.png

# iOS related
ios/Flutter/flutter_*.png
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android related
android/.gradle/
android/app/build/
android/build/

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Windows related
windows/Flutter/ephemeral/
windows/Flutter/Flutter.framework
windows/Flutter/Flutter.podspec

# Linux related
linux/Flutter/ephemeral/
linux/Flutter/Flutter.framework
linux/Flutter/Flutter.podspec

# VS Code settings
.vscode/

# IDEs
.idea/
*.iml

# Other
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.sublime-workspace
*.sublime-project
